body {
    background: rgba(54, 58, 61, 0.945);
    background-repeat: no-repeat;
    background-size: cover;
}
h2,p{
    color: white;

}
.mainp{
    color: black;
}
.form-check label{
    color: white;
}
.main_d{
    margin-top: 50%;
    transform: translate(0%, -200%);
}
.voteb{
    margin-right: 1.5%;
}